<div class="row">
  <div class="col-12 mb-5 pb-3 border-bottom border-secondary">
    <div class="btn btn-success">New Recipe</div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <ul class="list-unstyled">
      <li class="media mb-3 border-bottom pb-3 border-secondary" *ngFor="let recipe of recipes">
        <div class="media-body">
          <h5 class="mt-0 mb-1">{{ recipe.name }}</h5>
          {{ recipe.description }} 
        </div>
        <img [src]="recipe.imagePath" class="ml-3" alt="{{ recipe.name }}" style="max-height: 50px;">
      </li>
    </ul>
    <app-recipe-item></app-recipe-item>
  </div>
</div>